.app-wrapper {
  height: 100vh;
  display: flex;
  margin: 0px;
  flex-direction: column;
}

.header {
  position: fixed;
}

.content {
  flex: auto;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
